<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cafeordersystem.global.event.ProcessedEventMapper">

    <insert id="insertProcessedEvent">
        INSERT INTO processed_event (
        event_id,
        event_type,
        processed_at
        )
        VALUES (
        #{eventId},
        #{eventType},
        NOW(6)
        )
    </insert>

</mapper>